/* Fix placement of the date filter in horizontal view  */
@media (max-width: 767px) {

    ul.navbar-nav li.inline {
        float: left;
    }
    ul.navbar-nav li.last-inline + li {
        clear: both;
    }
    ul.navbar-nav li.inline a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

/* Fix markers on Google Map tile layer */
.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}

/* Edit location visible only on hover */
.containers-edit > a.movePlaceButton {
    visibility: hidden;
}
.containers-edit:hover > a.movePlaceButton {
    visibility: visible;
}

/* Help dialog - legend label position */
.legend-label {
    padding-top: 14px;
}

/* Scraper status page */
.icon-danger {
    color: #d9534f;
}

/* Bootleaf styles */
html, body, #map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    padding-top: 50px;
}
label {
    font-weight: normal;
    margin-bottom: 0px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
}
.table {
    margin-bottom: 0px;
}
#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}
.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.tt-dropdown-menu {
    overflow: auto;
}
.tt-hint, .tt-query {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}
.search-container {
    width: 250px;
}
#searchbox {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.leaflet-control-layers-base input, .leaflet-control-layers-overlays input {
    float: left;
    margin-right: 6px;
}
.leaflet-control-layers-expanded {
    opacity: 0.9;
}
.leaflet-popup-content {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}
@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
        float: left;
    }
    .search-container {
        width: 150px;
    }
    .leaflet-control-attribution {
        display: none;
    }
}
@media (max-width: 767px){
    .search-container {
        width: 100%;
    }
}
/* Print Handling */
@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}
