/* Fix placement of the date filter in horizontal view  */
@media (max-width: 767px) {

    ul.navbar-nav li.inline {
        float: left;
    }
    ul.navbar-nav li.last-inline + li {
        clear: both;
    }
    ul.navbar-nav li.inline a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

/* Fix markers on Google Map tile layer */
.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}

/* Edit location visible only on hover */
.containers-edit > a.movePlaceButton {
    visibility: hidden;
}
.containers-edit:hover > a.movePlaceButton {
    visibility: visible;
}

/* Help dialog - legend label position */
.legend-label {
    padding-top: 14px;
}

/* Scraper status page */
.icon-danger {
    color: #d9534f;
}
