<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="cs" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Zobrazuje na mapě kontejnery na odpad v Praze podle harmonogramu přistavení." />
    <meta name="author" content="Libor Nenadál" />
    <meta name="google-site-verification" content="ImHUucJmrAx0e5JiobsfiPUuogmi9Kz2Lzg1gXmexLQ" />
    <title>Odpadní kontejnery</title>

    <!-- Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/containers.min.css" rel="stylesheet" type="text/css">

    <!-- Apple touch icons -->
    <link rel="apple-touch-icon" href="img/touch_icons/Icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/touch_icons/Icon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/touch_icons/Icon-60@2x.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/touch_icons/Icon-60@3x.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/touch_icons/Icon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/touch_icons/Icon-76@2x.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    <![endif]-->
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Odpadní kontejnery</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav container-filter">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown container-unknown-places"></li>
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#aboutModal').modal('show'); return false;"><i class="fa fa-question-circle" style="color: white"></i>&nbsp;&nbsp;Nápověda</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<div id="map"></div>
<div id="loading" style="display:block;">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active"  role="progressbar" style="width: 100%">
            <span>Nahrávám...</span>
        </div>
    </div>
</div>

<div class="modal fade" id="aboutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nápověda</h4>
            </div>

            <div class="modal-body">
                <ul id="aboutTabs" class="nav nav-tabs">
                    <li class="active"><a href="#legend" data-toggle="tab"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Legenda</a></li>
                    <li><a href="#what" data-toggle="tab"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Co</a></li>
                    <li><a href="#who" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;&nbsp;Kdo</a></li>
                    <li><a href="#why" data-toggle="tab"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;Proč</a></li>
                    <li><a href="#how" data-toggle="tab"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Jak</a></li>
                </ul>
                <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">
                    <div class="tab-pane fade active in" id="legend">
                        <div class="panel-group" id="legendItems"></div>
                    </div>
                    <div class="tab-pane fade in" id="what">
                        <p>Hlavním účelem aplikace je zobrazovat mapu různých typů kontejnerů na odpad v Praze v určitý den. Data se sbírají <a href="status/scrape" target="_blank">automaticky</a> ze stránek městských částí. Dále umožňuje tyto akce:</p>
                        <table class="table">
                            <tr><td>
                                <ul>
                                    <li>Výběr mapového podkladu.</li>
                                    <li>Výběr typů kontejnerů, které se mají zobrazit.</li>
                                    <li>Nastavit umístění kontejneru pro místa, která aplikace nezná.</li>
                                    <li>Upravit umístění kontejneru.</li>
                                </ul>
                            </td></tr>
                        </table>
                        <h6 class="text-right"><a href="https://github.com/saxicek/odpad-praha8.cz/releases" target="_blank"><small>Verze: {{=it.version}}</small></a></h6>
                    </div>
                    <div class="tab-pane fade in" id="who">
                        <dl>
                            <dt>Autor</dt>
                            <dd>Libor Nenadál <a href="mailto:libor.nenadal@gmail.com">&lt;libor.nenadal@gmail.com&gt;</a></dd>
                        </dl>
                    </div>
                    <div class="tab-pane fade in" id="why">
                        <p>Neznám Prahu natolik dobře, abych si uměl vybrat kontejner na odpad pouze podle jména ulice
                            (typické pro stránky Prahy, například <a href="http://www.praha8.cz/Odpady.html" target="_blank">http://www.praha8.cz/Odpady.html</a>).
                            A navíc aby kontejner byl poblíž mého bydliště; ideálně dnes nebo zítra, ... Tak jsem data vizualizoval.</p>
                    </div>
                    <div class="tab-pane fade in" id="how">
                        <p>Hlavní použité technologie jsou Node.js, Bootstrap, Leaflet.js, Postgresql, OpenShift. Projekt je
                        zveřejněný pod volnou licencí na <a href="https://github.com/saxicek/odpad-praha8.cz" target="_blank">GitHubu</a>,
                            uvítám pull requesty a <a href="https://github.com/saxicek/odpad-praha8.cz/issues/new" target="_blank">hlášení chyb</a>. :-) </p>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/template" id="legendItemTemplate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <% if (allowed || forbidden) { %>
                <a data-toggle="collapse" data-parent="#legendItems" href="#LEGEND_<%= type %>">
                    <div class="row">
                        <div class="col-xs-1 icon-marker"></div>
                        <div class="col-xs-10 legend-label"><%= label %></div>
                        <div class="col-xs-1 legend-label"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
                    </div>
                </a>
                <% } else { %>
                <div class="row">
                    <div class="col-xs-1 icon-marker"></div>
                    <div class="col-xs-11 legend-label"><%= label %></div>
                </div>
                <% } %>
            </h4>
        </div>
        <% if (allowed || forbidden) { %>
        <div id="LEGEND_<%= type %>" class="panel-collapse collapse">
            <table class="table">
                <tr>
                    <th><% if (allowed) print('Vhodné'); %></th>
                    <th><% if (forbidden) print('Nevhodné'); %></th>
                </tr>
                <tr>
                    <td><%= allowed %></td>
                    <td><%= forbidden %></td>
                </tr>
            </table>
        </div>
        <% } %>
    </div>
</script>
<script type="text/template" id="popupTemplate">
    <div class="text-center containers-edit">
        <strong><%= place_name %></strong>
        <br />
        <span><%= time_from %> - <%= time_to %></span>
        <a class="btn btn-link btn-xs movePlaceButton" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
</script>
<script type="text/template" id="locatePopupTemplate">
    <p>Umístěte mne na místo <%= place_name %></p>
    <button id="setPlaceOkButton" type="button" class="btn btn-primary btn-sm btn-block">Hotovo</button>
    <button id="setPlaceCancelButton" type="button" class="btn btn-link btn-sm btn-block">Zrušit</button>
</script>

{{? it.debug }}
<script type="text/javascript" src="js/containers.js"></script>
{{??}}
<script type="text/javascript" src="js/containers.min.js"></script>
{{?}}

</body>
</html>
